<%= form_for @post, html: { multipart: true } do |f| %>
  <% if post.errors.any? %>
    <div class="alert alert-danger" role="">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p class="form-group">
    <%= f.label :titulo %>
    <%= f.text_field :titulo, class:"form-control" %>
  </p>

  <p class="form-group">
    <%= f.label :conteudo %>
    <%= f.text_area :conteudo, class:"form-control" %>
  </p>

  <p class="form-group">
    <%= f.label :imagem %>
    <%= f.file_field :image %>
  </p>

<!--Caso seja necessario usar o campo data
  <p class="form-group">
    <%= f.label :data %>
    <%= f.date_select :data, class:"form-control"%>
  </p>
-->

  <p >
    <%= f.submit  class: 'btn btn-primary'%>
    <%= link_to 'Cancelar', posts_path , class: 'btn btn-default' %>
  </p>
<% end %>
